.mainChat
  .mainChat__header
    %ul.mainChat__header__group
      %li.group__name
        = @group.name
      %li.group__main
        - @group.users.each do |user|
          = user.name
    .mainChat__header__edit
      = link_to edit_group_path(@group), class: "edit__icon" do
        edit
  .mainChat-centre
    = render @messages
  .mainChat__botm
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__box
        = f.text_field :content, class: 'messe', placeholder: 'type a message'
        = f.label :image, class: 'form-img' do
          = icon('far', 'image', class: 'form-img')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'send'
